.vscode/**
.vscode-test/**
.devcontainer/**
.github/**
src/**
docs/**
.gitignore
.yarnrc
.vsixignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
releases/**
vercel.json
